.parrafo{
    border: 1px solid pink;
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: violet;
    font-size: larger;
    font-weight: 1000;
}
div{
    border: 2px solid pink;
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span ul li{
    color: palevioletred;
    font-style: oblique;
    font-weight: 700;
}